@charset "UTF-8";
.header {
  height: 88px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
}
.header .wrapper {
  height: 100%;
  width: 90%;
  margin: auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .wrapper a.btn--green {
  color: #fff;
  background-color: #2bac38;
}
.header .wrapper a.btn--green:hover {
  color: #fff;
  background: #31bb3f;
}
.header .wrapper a.btn-c {
  font-size: 1.6rem;
  position: relative;
  width: 25%;
  padding: 10px 0;
  min-width: 150px;
}
.header .wrapper .btn_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .wrapper .btn_link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  max-width: 150px;
  border-radius: 8px;
}
.header .wrapper .btn_link a span {
  font-weight: bold;
  font-size: 1.6rem;
  padding-left: 6px;
}
.header .wrapper h1 {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .wrapper h1 a {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .wrapper h1 a img {
  height: 30%;
}

.bg_section {
  background-image: url("../img/wajima sample-46.jpg");
  height: 80vh;
  background-size: cover;
  min-height: 500px;
}
.bg_section .bg_filter {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: relative;
}
.bg_section .bg_filter .title {
  width: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 500px;
}
.bg_section .bg_filter .title p {
  font-size: 3.4rem;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.about_section h2 {
  font-size: 3.4rem;
  text-align: center;
  padding: 80px 0;
}
.about_section .text_wrapper {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2;
}
.about_section .text_wrapper span {
  display: block;
}
.about_section .text_wrapper .p40 {
  padding: 40px 0;
}

.flow_section {
  padding-top: 100px;
}
.flow_section .border_size::after {
  width: 300px;
  height: 40px;
  bottom: -14px;
  left: calc(50% - 150px);
}
.flow_section .flow_wrapper {
  padding: 100px 0;
}
.flow_section .flow_wrapper--container {
  width: min(90%, 800px);
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flow_section .flow_wrapper--container .flowItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #dcdddd;
}
.flow_section .flow_wrapper--container .flowItem picture {
  width: 40%;
}
.flow_section .flow_wrapper--container .flowItem picture img {
  margin: 0 0 0 auto;
  padding: 10px 30px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.flow_section .flow_wrapper--container .flowItem .flowText {
  width: 60%;
  font-size: 1.8rem;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flow_section .double_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.flow_section .double_item .itemText {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flow_section .double_item .itemText p {
  font-size: 2rem;
  font-weight: bold;
}
.flow_section .double_item .flowItem picture {
  width: 30%;
  min-width: 90px;
}
.flow_section .double_item .flowItem picture img {
  margin: 0 auto;
}
.flow_section .double_item .flowItem .flowText {
  width: 70%;
}
.flow_section .double_item .flowItem .flowText.pl-15 {
  padding-left: 15%;
}

.info_section {
  padding-top: 50px;
}
.info_section .border_size::after {
  width: min(100%, 560px);
  height: 40px;
  bottom: -14px;
  left: calc(50% - 280px);
}
.info_section .text_wrapper {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2;
  padding-top: 100px;
}
.info_section .text_wrapper span {
  display: block;
}
.info_section .text_wrapper .p40 {
  padding: 40px 0;
}

.swiper {
  width: 100%;
  height: 250px;
  margin: 100px 0;
}

.infinite-slider .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.slider_section {
  padding-top: 100px;
}
.slider_section .border_size::after {
  width: 320px;
  height: 40px;
  bottom: -14px;
  left: calc(50% - 160px);
}
.slider_section .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider_section a.btn--green {
  color: #fff;
  background-color: #2bac38;
}
.slider_section a.btn--green:hover {
  color: #fff;
  background: #31bb3f;
}
.slider_section a.btn-c {
  font-size: 2rem;
  position: relative;
  width: 25%;
  padding: 10px 0;
  min-width: 300px;
}
.slider_section .btn_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider_section .btn_link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  max-width: 300px;
  border-radius: 8px;
}
.slider_section .btn_link a span {
  font-weight: bold;
}

.qa_section {
  padding-top: 100px;
  /* Chrome、Safari以外 */
  /* Chrome、Safari */
  /* オープン時にアニメーションを設定 */
}
.qa_section .border_size::after {
  width: 200px;
  height: 20px;
  bottom: -4px;
  left: calc(50% - 100px);
}
.qa_section summary {
  display: block;
}
.qa_section summary p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.qa_section summary::-webkit-details-marker {
  display: none;
}
.qa_section details[open] .details-content {
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; /* 透明 */
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); /* 上から表示 */
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0; /* 透明 */
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); /* 上から表示 */
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.qa_section .details_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}
.qa_section .details_sect {
  width: 48%;
  margin: 10px auto;
}
.qa_section .details_sect details {
  background-color: #f1e8e3;
  margin: 10px 0;
}
.qa_section .details_sect details summary {
  width: 80%;
  margin: auto;
  padding: 10px 0;
  font-size: 1.4em;
  font-weight: bold;
}
.qa_section .details_sect details .details-content {
  width: 80%;
  margin: auto;
}
.qa_section .details_sect details .details-content div {
  padding: 10px 0;
}
.qa_section .details_sect details .details-content div p {
  font-size: 1.4rem;
}

.person_section {
  padding-top: 200px;
  font-size: 16px;
  padding-bottom: 200px;
}
.person_section .border_size::after {
  width: 250px;
  height: 40px;
  bottom: -14px;
  left: calc(50% - 125px);
}
.person_section .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  width: 90%;
  margin: auto;
  max-width: 1000px;
}
.person_section .wrapper figure {
  width: 30%;
}
.person_section .wrapper figure img {
  width: 90%;
  margin: auto;
}
.person_section .wrapper .text_container {
  width: 70%;
}
.person_section .wrapper .text_container .text_wrapper {
  width: 90%;
  margin: auto;
}
.person_section .wrapper .text_container .text_wrapper .profile_text {
  padding-top: 2rem;
}

footer {
  background-color: #484848;
  color: white;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .header {
    height: 50px;
  }
  .header .wrapper a.btn-c {
    font-size: 1.4rem;
    padding: 8px 0;
  }
  .header .wrapper h1 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bg_section .bg_filter .title {
    width: 70%;
  }
  .bg_section .bg_filter .title p {
    font-size: 2rem;
  }
  .about_section h2 {
    font-size: 2.4rem;
    padding: 40px 0;
  }
  .about_section h2 span {
    display: block;
    line-height: 1.8;
  }
  .about_section .text_wrapper {
    font-size: 1.4rem;
    width: 80%;
    margin: auto;
    text-align: left;
  }
  .flow_section .border_size::after {
    width: 160px;
    height: 20px;
    bottom: -4px;
    left: calc(50% - 80px);
  }
  .flow_section .flow_wrapper {
    padding: 50px 0;
  }
  .flow_section .flow_wrapper--container .flowItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flow_section .flow_wrapper--container .flowItem picture img {
    padding: 0;
    margin: auto;
    width: 50%;
  }
  .flow_section .flow_wrapper--container .flowItem .flowText {
    font-size: 1.4rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1rem;
  }
  .flow_section .flow_wrapper--container .double_item .itemText p {
    font-size: 1.4rem;
  }
  .flow_section .flow_wrapper--container .double_item .flowItem picture {
    min-width: initial;
  }
  .flow_section .flow_wrapper--container .double_item .flowItem picture img {
    width: 100%;
  }
  .flow_section .flow_wrapper--container .double_item .flowItem .flowText {
    font-size: 1.4rem;
  }
  .flow_section .flow_wrapper--container .double_item .flowItem .flowText.pl-15 {
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info_section .border_size::after {
    width: 90%;
    height: 20px;
    bottom: -4px;
    left: 5%;
  }
  .info_section .text_wrapper {
    font-size: 1.4rem;
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
  }
  .swiper {
    margin: 50px 0;
  }
  .slider_section .border_size::after {
    width: 200px;
    height: 20px;
    bottom: -4px;
    left: calc(50% - 100px);
  }
  .slider_section a.btn-c {
    min-width: 250px;
  }
  .qa_section {
    padding-top: 100px;
    /* Chrome、Safari以外 */
    /* Chrome、Safari */
    /* オープン時にアニメーションを設定 */
  }
  .qa_section .border_size::after {
    width: 200px;
    height: 20px;
    bottom: -4px;
    left: calc(50% - 100px);
  }
  .qa_section summary {
    display: block;
  }
  .qa_section summary::-webkit-details-marker {
    display: none;
  }
  .qa_section details[open] .details-content {
    -webkit-animation: fadeIn 0.5s ease;
            animation: fadeIn 0.5s ease;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0; /* 透明 */
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); /* 上から表示 */
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0; /* 透明 */
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); /* 上から表示 */
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  .qa_section .details_wrapper {
    display: block;
  }
  .qa_section .details_sect {
    width: 90%;
    margin: 10px auto;
  }
  .qa_section .details_sect details {
    margin: 10px 0;
  }
  .qa_section .details_sect details summary {
    width: 90%;
    margin: auto;
    padding: 20px 0;
  }
  .qa_section .details_sect details .details-content {
    width: 80%;
    margin: auto;
  }
  .person_section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .person_section .border_size::after {
    width: 150px;
    height: 20px;
    bottom: -4px;
    left: calc(50% - 75px);
  }
  .person_section .wrapper {
    display: block;
    padding-top: 40px;
  }
  .person_section .wrapper figure {
    width: 90%;
    margin: auto;
  }
  .person_section .wrapper figure img {
    width: 50%;
  }
  .person_section .wrapper .text_container {
    width: 90%;
    margin: auto;
    padding: 40px 0;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */